<div class="payer">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Players List</mat-card-title>
      <mat-card-subtitle>Sample Header</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="player__list">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit vitae, eum tempore
          consequatur tempora fuga itaque quam aperiam earum quod accusamus dignissimos labore ipsa
          veritatis quidem commodi? Atque, fuga id.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
